[defaults] 
# standaard insellingen voor ansible
inventory = inventory.yml 
# gebruik dit bestand als inventory bestand
host_key_checking = False 
# schakelt SSH host key verificatie uit
retry_files_enabled = False 
# schakelt retry files uit, cleaner project, minder rommel
roles_path = ./roles
# waar moet ansible zoeken naar roles? Zoek eerst hier lokaal
# Note: debian-base role is an external role for base OS configuration and security hardening (not included in this repo)
